/********************
GENERAL
********************/
body {
  padding-top: 85px;
}

.container {
  max-width: 1000px;
}

#pghead {
  text-align: left;
}



/********************
NAVIGATION
********************/
h2 {
  text-align: center;
}



/********************
MAIN
********************/
.jumbotron {
  position: relative;
}

.jumbotron {
  margin-bottom: 30px;
  background-image: url('../img/jumbotron_bg.jpg');
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  color: white;
}

.jumbotron .lead {
  color: white;
}

.main_img {
  max-width: 100%;
  display: block;
  text-align: center;
}



/********************
ABOUT
********************/
#about {
  padding-left: 80px;
  padding-right: 30px;
  max-width: 95%;
}

#question {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  max-width: 95%;
}

#goals li {
  padding-left: 30px;
  padding-right: 30px;
}

#founders {
  padding-top: 25px;
}



/********************
CHARITY
********************/
#charity {
  padding-left: 80px;
}



/********************
CONTACT
********************/
#contactinfo {
  padding-left: 30px;
}



/********************
SPONSOR
********************/
#sponsor {
  padding-left: 30px;
}



/********************
FOOTER
********************/
footer {
  text-align: center;
  padding-top: 30px;
}



/********************
COLORS
********************/




/******** NAVBAR 
.navbar {
  background-color: #f0ad4e;
}

.navbar a {
  color: white;
}

.navbar-brand {
  font-size: 2em
}
******/


